body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cuadro .chocolate{
    background-color: chocolate;
}
.cuadro {
    width: 300px;
    height: 300px;
    border: 2px solid red;
    position: relative;
}
.cuadrito {
    width: 100px;
    height: 100px;
    background-color: blue;
}

body .cuadro .cuadrito-2 {
    width: 100px;
    height: 100px;
    background-color: chartreuse;
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 20px;
}
.cuadro-degradado {
    width: 280px;
    height: 100px;
    border: 2px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    border: 2px solid black;
    background-image: 
                        linear-gradient( to right, #d40d0d80 25%, #3700ff80 75%, #ff840080 ),
                        linear-gradient( to top, #ffee00, #00ff22 )
                        ;
}
.rectangulo{
    width: 700px;
    height: 300px;
    border: 2px solid black;
    margin: 20px;
    background-image: url("https://concepto.de/wp-content/uploads/2020/12/imagen-e1607991781485.jpg");
}
.cuadro-3{
    width: 100px;
    height: 100px;
    /* background-color: #00ff0080; */
    background-color: red;
    opacity: 50%;
}

.bordes {
    width: 400px;
    height: 200px;
    background-color: #00ff22;
    border-radius: 100%;
}